/.metadata/
/.svn/
/.sonarlint/
/OJK-ASRJK/OJK-ASRJK-Client/backup
/OJK-ASRUS/OJK-ASRUS-Client/backup
/OJK-ASRJS/OJK-ASRJS-Client/backup
/OJK-ASRUK/OJK-ASRUK-Client/backup
/OJK-LPEI/OJK-LPEI-Client/backup
/OJK-FINS/OJK-FINS-Client/backup
/OJK-FINK/OJK-FINK-Client/backup
/OJK-PA/OJK-PA-Client/backup
/OJK-REASK/.settings
/OJK-REASS/.settings
/OJK-DPPKK/.settings


.idea/

jvm/

*.bat

**/**/Pelaporan

### Eclipse ###
.metadata
.settings/
# .project
# .classpath
# .factorypath
